<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 配置实体类的别名，在实体类对应的mapper.xml中返回的类型就可以写类名，而不需要全类名了 -->
	<typeAliases>
		<package name="com.net.crud.modal" />
	</typeAliases>
</configuration>